.body {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: #fff 0px 0px 0px 2px;
  background-color: #ebecf0;
  box-sizing: border-box;
  margin-left: -2px;
  transition: transform 0.1s ease 0s;
  cursor: pointer;
  user-select: none;
}

.body:hover {
  transform: translateY(-5px);
}
