.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--lightGray);
  margin-left: 64px;
  width: 16%;

}

.linkButton {

  display: flex;
  justify-content: left;
  width: 80%;
  align-items: center;
  margin: 0px auto;
  padding: 8px 8px;
  border-radius: 8px;
}

.btnContent {
  margin-left: 12px;
}

.linkButton:hover {
  background-color: #ccc;
  text-decoration: none !important;
}

.headerControl {
  width: 80%;
  margin: 16px auto;
  display: flex;
  flex-direction: row;

}

.infor {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-top: 4px;
}

.infor_name {
  font-size: 18px;
  font-weight: 5 00;


}

.infor_category {
  font-size: 14px;
  font-weight: normal;
  opacity: 0.8;

}

.active {
  color: var(--blue) !important;
  background-color: #ccc;
}

.appear {
  display: block;

}
